*{
    padding: 0;
    margin: 0;
}
.list{
    width: 200px;
    height: 100px;
    background-color: beige;
    margin-right: 50px;
    margin-top: 30px;
    list-style-type: circle;
    list-style-position: outside;
}
.list p2{
    color: brown;
}